<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../view/style2.css">
</head>
<body>
    <div class="sidebar">
        <div class="img-head">
            <img src="/image/logo-head.png" alt="" width="80%">
        </div>
        <a href="#home" onclick="loadContent('home.html')">Home</a>
        <a href="#gestionUsuario" onclick="loadContent('gestion-usuario.html')">Usuarios</a>
        <a href="#exportar" onclick="loadContent('exportar.html')">Exportar Datos</a>
        <a href="#ReporteSemanal" onclick="loadContent('reporte-semanal.html')">Reporte Semanal</a>
    </div>
    <div class="content" id="main-content">
        <!-- Aquí se cargará el contenido -->
    </div>
    <script src="../view/js/script.js"></script>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
